@media (min-width:1200px) and (max-width: 1600px) {
	.container {
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media (max-width:1600px) {
	.user-page .user-form .content-wrapper {
		margin-right: 5.2rem;
	}
	.float-form input.form-control:focus~label {
		top: -19px;
	}
	.contact-form {
		max-width: 488px;
		padding: 2.1rem 2.4rem 2.4rem;
	}
	.page-wrapper {
		padding: 3rem 0 3rem;
	}
	.widgets li>a>i {
		margin-right: 0;
	}
	.ordering-btn .btn {
		padding: 0.4rem 0.4rem;
	}
	.ordering-box-bottom>span {
		font-size: 16px;
	}
	.link {
		font-size: 18px;
	}
	.user-page h3 {
		padding-bottom: 20px;
	}
	.user-page h3::after {
		width: 90px;
		height: 4px;
	}
	.form-body .check-box label span {
		font-size: 18px;
	}
	.form-body .check-box label span::before {
		top: 2px;
	}
}
@media (max-width:1650px) and (min-width: 1200px){
	.ordering-box-bottom {
		flex-wrap: wrap;
	}
	.ordering-box-bottom .ordering-btn {
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}
	.ordering-box-bottom ul {
		width: 100%;
		justify-content: center;
	}
}

@media (max-width:1440px) {
	.header-inner nav>ul>li>a {
		font-size: 15px;
		padding: 24px 10px;
	}
	/*.your-doorstep>p {*/
	/*	font-size: 50px;*/
	/*}*/
	.search-form .form-group input[type="text"] {
		font-size: 16px;
	}
	.cart-empty h6 {
		font-size: 12px;
	}
}

@media (min-width:1500px) {
	.rest-box-row .col-lg-4 {
		max-width: 25%;
	}
	.order-food-section .restaurant-box-row .col-lg-6 {
		max-width: 33.33%;
		padding: 0 15px;
	}

}
	
@media (max-width:1400px) {
	.home-banner {
		/*padding: 5rem 0 7rem;*/
	}
	.dropbtn img {
		max-width: 16px;
	}
	.user-page .user-form .content-wrapper {
		margin-right: auto;
	}
	.user-form .logo {
		margin-bottom: 2.8rem;
	}
	.float-form input.form-control {
		padding: 0 20px;
	}
	.float-form input.form-control {
		font-size: 20px;
	}
	.float-form input.form-control:focus~label {
		top: -18px;
	}
	.std-modal .modal-header .modal-title {
		font-size: 26px;
	}
	.std-modal .modal-body p {
		font-size: 22px;
	}
	.contact-form h2 {
		margin-bottom: 2rem;
		font-size: 22px;
	}
	.contact-form {
		max-width: 420px;
		margin: auto;
	}
	.contact-us-wrapper .widgets {
		margin-top: 3rem;
	}
	.widget-title {
		font-size: 18px;
	}
	.widgets li>a {
		font-size: 15px;
	}
	.widgets p {
		font-size: 15px;
	}
	.ordering-btn .btn {
		padding: 0.4rem 0.3rem;
		font-size: 12px;
	}
	.dropbtn {
		padding: 0.6rem 0.6rem;
		font-size: 16px;
	}
	.noti-cart>ul>li {
		padding: 0 10px;
	}
	.header-user .user-img {
		width: 45px;
		height: 45px;
		margin-right: 8px;
	}
}

@media (max-width:1280px) {
	.home-banner {
		/*padding: 6rem 0 9rem;*/
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1550px;
	}
	.contact-us-wrapper .widgets .widgets-1 {
		flex: 0 0 45%;
		max-width: 45%;
	}
	.contact-us-wrapper .widgets {
		margin-right: -10px;
		margin-left: -10px;
	}
	.contact-us-wrapper .widgets [class*="col-"] {
		padding-right: 10px;
		padding-left: 10px;
	}
	.contact-us-wrapper .widgets .widgets-1 {
		flex: 0 0 45%;
		max-width: 40%;
	}
	.contact-us-wrapper .widgets [class*="col-"]:not(.widgets-1) {
		flex: 0 0 30%;
		max-width: 30%;
	}
}

@media (max-width:1199px) {
	.header-inner nav>ul>li>a {
		padding: 11px 10px;
		display: block;
	}
	.user-form .logo {
		margin-bottom: 1.8rem;
	}
	.user-page h3 {
		margin-bottom: 1.3rem;
		padding-left: 10px;
	}
	.links {
		margin: 1.2rem 0 2rem;
	}
	.footer-logo img {
		height: 50px;
	}
}

@media (max-width:991px) {
	.user-form .logo a>img {
		max-width: 175px;
	}
	.contact-form {
		padding: 2.1rem 1.4rem 2.4rem;
	}
}

@media (min-width:768px) {
	.form-control:focus {
		box-shadow: none;
		border: 1px solid #E4E4E4;
	}
}

@media (max-width: 767px) {
	.logo img {
		height: 40px;
	}
	.footer-logo img {
		height: 80px;
	}
	#example-one {
		top: 52px;

	}
	.your-doorstep > p {
		font-size: 2rem; /* Adjust as needed for smaller screens */
	}
}

@media (max-width:767px) {
	.order-food-section .restaurant-box-row .col-lg-6 {
	    margin-bottom: 20px;
	}

	.slider-arrow .arrow>div {
	    width: 30px;
	    height: 30px;
	}
	.slider-arrow .arrow>div::before {
	    line-height: 32px;
	}

	.openclose {
		font-size: 11px;
		padding: 2px 6px;
		width: 58px;
	}
	.home-banner {
		/*padding: 4rem 0 6rem;*/
	}
	.popular-rest-box .popular-rest-img strong {
		padding: 1px 4px;
		font-size: 12px;

	}
	.popular-rest-box .popular-rest-img , .order-food-section .restaurant-box-row .popular-rest-img {
		height: 130px;
	}
	.rest-box-row .col-sm-12:nth-child(even)  , .order-food-section .restaurant-box-row .col-lg-6:nth-child(even) {
		padding-left: 5px;
	}
	.rest-box-row .col-sm-12:nth-child(odd) , .order-food-section .restaurant-box-row .col-lg-6:nth-child(odd) {
		padding-right: 5px;
	}
	.type-food-option .detail-list {
    	padding-left: 25px;
	}

	.rest-box-row .col-sm-12 , .order-food-section .restaurant-box-row .col-lg-6 {
		max-width: 50%;
		padding: 0 9px;
	}
	.rest-box-row .col-sm-12.col-lg-12 {
    	max-width: 100%;
	}
	.food-filter {
		margin: 0 -9px 20px;
		top: 0;
	}
	.popular-rest-content h3 {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.popular-rest-content {
		padding: 0 5px;
	}
	.popular-rest-box {
		margin-bottom: 20px;
	}

	.profile-page-title .nav-tabs .nav-link {
		font-size: 12px;
		padding: 7px 4px 6px 3px;
		min-width: 120px;
	}
	.edit-profile .modal-body {
		padding-top: 0;
	}
	.user-page .row .login-bg {
		display: none;
	}
	.user-page .user-form {
		background: #cdcdcd url(../images/bg-login.jpg) no-repeat;
		background-size: cover;
	}
	.user-page .user-form:after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	.user-page .content-wrapper {
		position: relative;
		z-index: 1;
		padding: 1.5rem;
		background: rgba(255, 255, 255, 0.9);
		border-radius: 10px;
	}
	.user-form .logo {
		margin-bottom: 1rem;
		text-align: center;
	}
	.form-group {
		margin-bottom: 30px;
	}
	.user-page h3 {
		margin-bottom: 2rem;
	}
	.link {
		font-size: 18px;
	}
	.float-form input.form-control {
		font-size: 14px;
	}
	.float-form .form-group label {
		font-size: 14px;
		border-radius: 6px;
		line-height: 26px;
	}
	.float-form input.form-control:focus~label {
		font-size: 20px;
	}
	.std-modal .modal-header .modal-title {
		font-size: 20px;
	}
	.std-modal .modal-body p {
		font-size: 18px;
		line-height: 22px;
	}
	.page-wrapper {
		padding: 2rem 0 2rem;
	}
	.contact-form {
		padding: 1rem;
		margin-top: 1em;
	}
	.std-modal .modal-content {
		margin: 0 20px;
	}
	.app-download {
		margin: 0 auto;
	}
	.driver-app-content {
		text-align: center;
	}
	.search-restaurant input[type="button"] {
		height: 50px;
		line-height: 1;
	}
	.dropbtn img {
		display: none;
	}
	.dropbtn {
		padding: 0.1rem 0.5rem;
	}
	.header-user .user-img {
		width: 25px;
		height: 25px;
		margin-right: 3px;
	}
	.float-form .form-control:not(:placeholder-shown)~label {
		font-size: 16px;
	}
	.order-food-section .rest-box-row .col-sm-12, .popular-restaurants .rest-box-row .col-sm-12 {
		max-width: 100%;
		padding: 0 15px;
	}
	.header-right .dropdown .dropbtn {
		padding: 0px 5px;
		font-size: 12px;
	}
	.noti-cart>ul>li a {
		font-size: 20px;
	}
	.signin-btn a.btn::before {
		font-size: 13px;
		line-height: 1.5;
	}
	.signin-btn a.btn {
		padding: 0 5px;
	}
	.noti-cart>ul>li a>span {
		min-width: 16px;
    	min-height: 16px;
    	line-height: 16px;
    	font-size: 12px;
	}
	.popular-rest-box .popular-rest-img {
		height: 150px;
	}
	.add-cart-item .number span {
		width: 16px;
		height: 16px;
		line-height:18PX;
		font-size: 8px
	}
	.add-cart-item .number input[type="text"] {
		height: 15px;
		width: 28px;
		font-size: 14px;												
	}
	.float-form input.form-control:focus~label {
		font-size: 16px;
		top: -12px;
	}
	.text-center.forgot-image {
		max-width: 180px;
		margin: auto;
	}
	
	#forgot-pass-modal .modal-form h2 {
		font-size: 18px;
		margin-bottom: 0;
	}
	#forgot-pass-modal .modal-form .float-form .form-group {
		margin-top: 15px;
	}
	#forgot-pass-modal .modal-form .float-form .action-button {
		text-align: right;
	}
	.action-button .btn {
		font-size: 13px;
		padding: 3px 10px;
		margin-right: 10px;
	}
	#forgot-pass-modal .close {
		top: 15px;
		width: 26px;
		height: 26px;
		font-size: 16px;
		line-height: 10px;
	}
	.order-food-section .restaurant-box-row .col-lg-6 {
		max-width: 100%;
	}
	.order-food-section .restaurant-box-row .order-btn {
		display: none;
	}
	.order-btn a.btn {
	    font-size: 13px;
	    padding: 2px 10px;
	}
	.inner-pages-form .form-group.delivery-address input[type="text"] {
		margin-bottom: 10px;
	}
	.cart-content-table table>tbody>tr>td.close-btn-cart {
		display: none;
	}
	.cart-content-table table>tbody>tr>td.item-name {
		width: 65%;
	}
	.add-address-btn .btn {
		font-size: 13px;
		padding: 2px 6px;
	}
	.ordering-box-bottom ul li:last-of-type {
		margin-right: 0;
	}
	.ordering-box-bottom ul li {
		font-size: 12px;
		padding: 3px 4px;
	}
	.ordering-btn .btn {
		padding: 3px 4px; 
	}
	.edit-profile .float-form .form-control:not(:placeholder-shown)~label, .edit-profile .float-form .form-control:focus~label, #add-address .float-form .form-control:not(:placeholder-shown)~label, #add-address .float-form .form-control:focus~label {
		font-size: 16px;
	}
	.edit-profile .float-form .form-group label, #add-address .float-form .form-group label {
		font-size: 14px;
	}
	.address-add-btn .btn {
		font-size: 14px;
		padding: 2px 15px;
	}
	.action-btn .btn {
		font-size: 13px;
		padding: 2px 10px;
	}
	.ordering-box-top {
		flex-wrap: wrap;
	}
	.ordering-box-img .ordering-img {
		width: 100%;
		height: 100px;
		margin-bottom: 10px;
	}
	.ordering-box-top .ordering-box-text {
		padding-left: 0;
		width: 100%;
	}
	.current-location>h5 {
		margin-bottom: 12px;
	}
	.inner-pages-form .form-group.search-restaurant input[type="button"] {
		border-radius: 0 10px 10px 0;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 0;
		background: transparent url(../images/search-icon.svg) no-repeat left 12px center / 18px auto;
		border: 2px solid #ADADAD;
		width: auto;
		height: 40px !important;
		border-left: 0px;
	}
	.inner-pages-form .form-group.search-restaurant input[type="button"]:focus,.inner-pages-form .form-group.search-restaurant input[type="button"]:hover, .inner-pages-form .form-group.search-restaurant input[type="button"]:active {

		background: transparent url(../images/search-icon.svg) no-repeat left 12px center / 18px auto;
	}
	.inner-pages-form .form-group.search-restaurant .bootstrap-tagsinput {
    	width: calc(100% - 44px);
	}
	.inner-pages-form .form-group.search-restaurant .bootstrap-tagsinput input[type="text"] {
		width: 100%;
	}
	.detail-content-middel .detail-list-content .detail-list-text h4 {
	    font-size: 14px;
	}
	.detail-content-middel .detail-list-content .right-price strong {
    	font-size: 14px;
	}
	.type-food-option .detail-list::before {
		font-size: 13px;
	}
	.noti-list-text>h6 {
		font-size: 14px;
	}
	.noti-list-text>p {
		font-size: 13px;
	}
	.noti-popup .noti-title h5 {
		font-size: 16px;
	}
	.ordering-box-bottom>span {
		font-size: 14px; 
	}
	.ordering-box-bottom>span.date-icon::before {
		top: 0;
		font-size: 14px;
	}
	.ordering-box-bottom>span.relivered-icon::before {
		top: 0;
	}
	.availability-popup .btn {
	    font-size: 13px;
	    padding: 2px 10px;
	    margin: 0;
	} 
	.contact-us-wrapper .widgets {
    	margin-top: 1rem;
	}
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 669px;
	}

}

@media (max-width:576px) {

	.link {
		font-size: 14px;
	}
	.form-body .check-box label span {
		font-size: 14px;
	}
	.form-body .check-box label span::before {
		top: 0;
		line-height: 11px;
		height: 15px;
		width: 15px;
	}
	.modal-form {
		padding: 20px 0;
	}
	.call-btn .btn {
		text-align: left;
		width: 100%; 
	}
	.track-order-content .call-btn .btn {
		text-align: center;
		width: 100%;
	}
	.track-order-content .call-btn .btn i {
		margin-right: 10px;
	}
	.details-id .call-btn {
		text-align: left;
	}
}
@media (max-width: 425px){
		.rest-detail-section .rest-detail-content>ul {
			width: 270px;

		}
		.rest-detail-content>ul>li {
			font-size: 10px;
		}
		.rest-detail-content>ul>li>i {
			font-size: 11px;
		}
		.header-user {
			margin-right: 0;
		}
		.noti-cart>ul>li a {
			font-size: 16px;
		}
		.header-user span {
			width: 15px;
		}
		.noti-cart>ul>li.notification {
			padding-left: 0;
		}
		.logo img {
			height: 30px;
		} 
		.menu_review {
			width: 100%;
		}
		.menu_review .btn {
		    width: 50%;
		    float: left;
		    padding: 6px 10px;
		}
		button.btn.res-review:before {
			margin-right: 5px;
		}
		#review_form #submit_review {
		    margin-top: 15px;
		    font-size: 14px;
		    padding: 6px 10px;
		}
		button.btn.res-menu:before, button.btn.res-review:before {
			display: none;
		}
}

@media (max-width: 400px) {
	  .popular-rest-box .popular-rest-img  , .order-food-section .restaurant-box-row .popular-rest-img{
      height: 100px;
    }
	.cart-content-table table>tbody>tr>td.item-name {
		width: 65%;
	}

	.std-modal .modal-content {
		padding: 10px;
	}
	.modal-body .forgot-image img {
		height: 150px;
	}
	.std-modal .modal-header .modal-title {
		font-size: 18px;
	}
	.popular-rest-box .popular-rest-img {
		height: 150px;
	}
	.noti-popup {
		transform: translate(-45%, 100%);
	}
	#form_front_login .link {
		width: 100%;
	    text-align: right;
	    padding-left: 0;
	}
}
@media (max-width: 375px) {
	.address-btn .btn {
		font-size: 11px;
		margin-left: 0;
	}
}

@media (max-height: 679px) {
	.user-form .logo a>img {
		max-width: 200px;
	}
	.user-form .logo {
		margin-bottom: 2rem;
	}
	.user-page h3 {
		margin-bottom: 2rem;
	}
	#form_front_login .links {
		margin: 1.2rem 0 2rem;
	}
	.form-group {
		margin-bottom: 20px;
	}
}
@media (max-width: 768px) {
	.carousel-inner img {
		max-height: 300px; /* Adjust the height for smaller screens */
	}
	.contact-button a.btn {
		font-size: 12px;
		padding: 5px 10px;
	}

	.copyDev {
		text-align: center;
		padding-top: 20px;
	}

	.develop_by {
		text-align: center;
		padding-top: 5px;
	}

	/* Additional mobile styles */
	.footer-area {
		padding: 20px 0;
	}

	.footer-links ul li {
		font-size: 14px;
	}

	.contact-button a.btn {
		/*font-size: 14px;*/
		/*padding: 8px 16px;*/
		display: none;
	}

	.social-icon ul li {
		margin-right: 8px;
	}
	.your-doorstep {
		text-align: center; /* Center the content */
		padding: 20px 0; /* Add padding to top and bottom */
		/*top:80%;*/
	}
	.your-doorstep > p {
		font-size: 1.9rem; /* Adjust as needed for even smaller screens */
	}
	.box-h2{
		/*margin-left: -80px;*/
		margin-top:0%
	}
	.restaurant-app-img{
		margin: 0px auto 20px;
		max-width: 500px;
		width: 100%;
	}

}
@media (max-width: 480px) {

	.carousel-indicators li{
		width: 30px !important;
		height: 6px !important;
	}
	.your-doorstep > p {
		font-size: 1.5rem; /* Adjust as needed for even smaller screens */
			top:80%;
	}
	.social-icon ul {
		justify-content: center;
	}
	.copyright p {
		font-size: 14px;
		text-align: center;
	}
	.box-h2{
		/*margin-left: -80px;*/
		margin-top:0%
	}
}
